/* ===== VARIABLES DE COLORES DEL LOGO ===== */

:root {
  --color-primary: #ff4fa3;       /* rosa principal */
  --color-primary-light: #ff7ab8; /* rosa claro */

  --color-blue: #1fb6d5;          /* azul del logo */
  --color-green: #a8d63b;         /* verde del logo */

  --color-dark: #1a1a1a;
  --color-gray: #6c757d; 
  --color-background: #f5f5f5;
}


/* ===== ESTILOS GENERALES ===== */

body {
  margin: 0;
  padding-top: 1px;
  background-color: var(--color-background);
  color: var(--color-dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.play-audio-btn{

background:#ff4fa3;;
color:white;

border:none;

padding:8px 18px;

border-radius:30px;

cursor:pointer;

margin-top:10px;

font-weight:600;

transition:0.2s;

}

.play-audio-btn:hover{

transform:scale(1.05);

}
.global-player{

position:fixed;
bottom:0;
left:0;

width:100%;
background:#111;
color:white;

display:flex;
align-items:center;
gap:20px;

padding:10px 20px;

z-index:9999;

}

.global-player-cover{

width:60px;
height:60px;
object-fit:cover;
border-radius:8px;

}

.global-player-info{

flex:1;

}

.global-player audio{

width:100%;

}